## Mempersiapkan Data-set

In [1]:
import os

In [2]:
mypath= 'Original_dataset/'

In [3]:
file_name = []
tag = []
full_path = []
for path, subdirs, files in os.walk(mypath):
    for name in files:
        full_path.append(os.path.join(path, name)) 
        tag.append(path.split('/')[-1])        
        file_name.append(name)

In [4]:
import pandas as pd

In [5]:

# memasukan variabel yang sudah dikumpulkan pada looping di atas menjadi sebuah dataframe agar rapih
df = pd.DataFrame({"path":full_path,'file_name':file_name,"tag":tag})
df.groupby(['tag']).size()

tag
mujahir      237
red_devil    217
sepat        298
dtype: int64

In [6]:
#cek sample datanya
df.head()

,path,file_name,tag
0,Original_dataset/mujahir\1_mp4-0000_jpg.rf.48b...,1_mp4-0000_jpg.rf.48b8f7c24f61a3544c804b03ccd2...,mujahir
1,Original_dataset/mujahir\1_mp4-0002_jpg.rf.632...,1_mp4-0002_jpg.rf.632c93e2907de8173a2ea4133b95...,mujahir
2,Original_dataset/mujahir\1_mp4-0003_jpg.rf.a24...,1_mp4-0003_jpg.rf.a24d45f93580825fb513cabc134a...,mujahir
3,Original_dataset/mujahir\1_mp4-0005_jpg.rf.24c...,1_mp4-0005_jpg.rf.24cf744b70819cd2822aa5b676bc...,mujahir
4,Original_dataset/mujahir\1_mp4-0006_jpg.rf.567...,1_mp4-0006_jpg.rf.567904914fd4958cb491c14e9870...,mujahir


## Train test split

In [7]:
#load library untuk train test split
from sklearn.model_selection import train_test_split

In [8]:
#variabel yang digunakan pada pemisahan data ini
X= df['path']
y= df['tag']

In [9]:
# split dataset awal menjadi data train dan test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=300)

In [10]:
# kemudian data test dibagi menjadi 2 sehingga menjadi data test dan data validation.
X_test, X_val, y_test, y_val = train_test_split(
    X_test, y_test, test_size=0.5, random_state=100)

In [ ]:
# Kode ini digunakan untuk mengorganisir data ke dalam DataFrame terpisah yang masing-masing menyimpan data untuk training, testing, dan validation. 
df_tr = pd.DataFrame({'path':X_train
              ,'tag':y_train
             ,'set':'train'})

df_te = pd.DataFrame({'path':X_test
              ,'tag':y_test
             ,'set':'test'})

df_val = pd.DataFrame({'path':X_val
              ,'tag':y_val
             ,'set':'validation'})

In [12]:

print('train size', len(df_tr))
print('val size', len(df_te))
print('test size', len(df_val))

train size 601
val size 75
test size 76

In [13]:
# Gabungkan dataframes df_tr, df_te, dan df_val
df_all = pd.concat([df_tr, df_te, df_val]).reset_index(drop=True)

print('===================================================== \n')
print(df_all.groupby(['set', 'tag']).size(), '\n')

print('===================================================== \n')

# Cek sample datanya
df_all.sample(3)

=====================================================

set         tag
test        mujahir       19
            red_devil     22
            sepat         34
train       mujahir      199
            red_devil    172
            sepat        230
validation  mujahir       19
            red_devil     23
            sepat         34
dtype: int64

=====================================================

                                                  path      tag    set
273  Original_dataset/mujahir\Mujahir-68_jpg.rf.93b...  mujahir  train
97   Original_dataset/sepat\Video-Sepat-2_mp4-0037_...    sepat  train
139  Original_dataset/sepat\Sepat-9_png.rf.69477aa6...    sepat  train


## Merapihkan ke folder set masing-masing

In [14]:
# menghapus folder dataset jika diperlukan
#!rm -rf dataset/

In [26]:
import shutil
from tqdm.notebook import tqdm as tq

In [36]:
datasource_path = "Original_dataset/"
dataset_path = "dataset/"

In [ ]:
# Kode ini digunakan untuk memindahkan atau menyalin file gambar 

for index, row in tq(df_all.iterrows()):
    
    file_path = row['path']
    if not os.path.exists(file_path):
        file_path = os.path.join(datasource_path, row['tag'], row['image'])
    
    if not os.path.exists(file_path):
        print(f"File not found: {file_path}")
        continue  
    
    # Buat folder tujuan jika belum ada
    destination_folder = os.path.join(dataset_path, row['set'], row['tag'])
    os.makedirs(destination_folder, exist_ok=True)
    

    destination_file_name = os.path.basename(file_path) 
    file_dest = os.path.join(destination_folder, destination_file_name)
    
    if not os.path.exists(file_dest):
        shutil.copy2(file_path, file_dest)

0it [00:00, ?it/s]


## Finish! Dataset siap digunakan